/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	max-width: 100%;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

/* Общие стили */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.flex {
	display: flex;
}

.top-offset {
	padding-top: 70px;
}

.title {
	margin-bottom: 20px;
}

/* Стили для Header */

.header {
	padding-top: 30px;
}

.header-top {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.header-left {
	align-items: center;
}

.header-logo {
	margin-right: 40px;
}

.header-nav {
	justify-content: space-between;
	align-items: center;
	padding: 14px 45px;
}

.nav-list-item:not(:last-child) {
	margin-right: 45px;
}

.header-btn:not(:last-child) {
	margin-right: 20px;
}