/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	max-width: 100%;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	font-family: 'Muller', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1;
	background-color: #F1F1F1;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

/* Fonts */
@font-face {
	font-family: 'Muller';
	src: local("Muller Light"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MullerLight.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MullerLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: local("Muller Regular"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MullerRegular.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MullerRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: local("Muller Medium"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MullerMedium.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MullerMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: local("Muller Bold"),
		/* Если не получилось, загрузит woff2 */
		url("/fonts/MullerBold.woff2") format("woff2"),
		/* Если браузер не поддерживает woff2, загрузит woff */
		url("/fonts/MullerBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Общие стили */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.flex {
	display: flex;
}

.top-offset {
	padding-bottom: 70px;
}

.title {
	margin-bottom: 20px;
}

.btn {
	font-family: 'Muller';
	padding: 13px 20px;
	border-radius: 10px;
	border: 1px solid #C93;
	color: #CC9933;
	background-color: transparent;
	cursor: pointer;
}

.title {
	color: #333;
	font-size: 40px;
}

/* Стили для Header */

.header {
	padding-top: 30px;
}

.header-top {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.header-left {
	align-items: center;
}

.header-logo {
	margin-right: 40px;
}

.header-contacts {
	color: #666666;
}

.header-account {
	padding-left: 29px;
	color: #CC9933;
	background-image: url('../img/header/keyboard_tab.svg');
	background-position: left -5px;
	background-repeat: no-repeat;
	background-size: 24px 24px;
}

.header-nav {
	justify-content: space-between;
	align-items: center;
	padding: 14px 45px;
	border-radius: 15px;
	background-color: #fff;
}

.nav-list-item:not(:last-child) {
	margin-right: 45px;
}

.nav-list-link {
	color: #666666;
}

.header-btn:not(:last-child) {
	margin-right: 20px;
}

/* Стили для секции Special */
.special-list {
	margin-right: 24px;
}

.special-item {
	flex-direction: column;
	padding: 40px 108px 40px 45px;
	margin-bottom: 24px;
	width: 573px;
	border-radius: 15px;
	overflow: hidden;
}

.special-item:first-child {
	background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/special/special-1.jpg') center center / cover no-repeat;
}

.special-item:last-child {
	margin-bottom: 0;
	background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0.00) 65.7%), url('../img/special/special-2.jpg') center center / cover no-repeat;
}

.special-item-title {
	margin-bottom: 15px;
	font-size: 40px;
	font-weight: 700;
	color: #fff;
}

.special-item-price {
	margin-bottom: 47px;
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	opacity: .8;
}

.special-item-link,
.special-main-link {
	max-width: 100px;
	color: #F0BF5F;
	background-image: url('../img/arrow-icon.svg');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
}

.special-main {
	flex-direction: column;
	padding: 212px 229px 40px 45px;
	border-radius: 15px;
	overflow: hidden;
	background: url('../img/special/special-main.jpg') center center / cover no-repeat;
}

.special-main-title {
	margin-bottom: 15px;
	color: #fff;
	font-size: 60px;
	font-weight: 700;
}

.special-main-price{
	color: #fff;
	font-size: 30px;
	opacity: .8;
}

.special-main-link {
	margin-top: auto;
}

/* Стили для секции For-us */
.for-us-descr {
	max-width: 888px;
}

/* Стили для секции Services */
.services-list {
	flex-wrap: wrap;
}

.services-item {
	margin-right: 24px;
	margin-bottom: 24px;
	width: 573px;
}

.services-item:nth-child(3),
.services-item:last-child {
	margin-bottom: 0;
}

.services-item:nth-child(2n) {
	margin-right: 0;
}

.services-item-content {
	padding: 26px 126px 35px 45px;
}

/* Стили для секции Advantages */
.advantages-list {
	flex-wrap: wrap;
}

.advantages-item {
	flex-direction: column;
	margin-right: 22px;
	margin-bottom: 22px;
	padding: 40px 42px 32px 45px;
	max-width: 276px;
}

.advantages-item:nth-child(4n) {
	margin-right: 0;
}

.advantages-item:nth-child(5),
.advantages-item:nth-child(6),
.advantages-item:nth-child(7),
.advantages-item:last-child {
	margin-bottom: 0;
}

.advantages-img {
	margin-bottom: 10px;
}

/* Стили для секции Placement */
.placement-list {
	flex-wrap: wrap;
}

.placement-item {
	margin-right: 24px;
	margin-bottom: 24px;
	max-width: 374px;
}

.placement-item:nth-child(3n) {
	margin-right: 0;
}

.placement-item:nth-child(7),
.placement-item:last-child {
	margin-bottom: 0;
}

.placement-item-card {
	justify-content: space-between;
	margin-bottom: 20px;
}

.placement-item-content {
	/* padding: 32px 45px 45px 45px; */
}

.placement-item-price {
	display: block;
	margin-bottom: 16px;
}

.placement-item-hotel {
	display: block;
	margin-bottom: 16px;
}