/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	max-width: 100%;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */

/* Общие стили */
.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1200px;
}

.flex {
	display: flex;
}

.top-offset {
	padding-bottom: 70px;
}

.title {
	margin-bottom: 20px;
}

/* Стили для Header */

.header {
	padding-top: 30px;
}

.header-top {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;
}

.header-left {
	align-items: center;
}

.header-logo {
	margin-right: 40px;
}

.header-nav {
	justify-content: space-between;
	align-items: center;
	padding: 14px 45px;
}

.nav-list-item:not(:last-child) {
	margin-right: 45px;
}

.header-btn:not(:last-child) {
	margin-right: 20px;
}

/* Стили для секции Special */
.special-list {
	margin-right: 24px;
}

.special-item {
	flex-direction: column;
	padding: 40px 108px 40px 45px;
	margin-bottom: 24px;
	width: 573px;
}

.special-item:last-child {
	margin-bottom: 0;
}

.special-item-title {
	margin-bottom: 15px;
}

.special-item-price {
	margin-bottom: 47px;
}

.special-main {
	flex-direction: column;
	padding: 212px 229px 40px 45px;
}

.special-main-title {
	margin-bottom: 15px;
}

.special-main-link {
	margin-top: auto;
}

/* Стили для секции For-us */
.for-us-descr {
	max-width: 888px;
}

/* Стили для секции Services */
.services-list {
	flex-wrap: wrap;
}

.services-item {
	margin-right: 24px;
	margin-bottom: 24px;
	width: 573px;
}

.services-item:nth-child(3),
.services-item:last-child {
	margin-bottom: 0;
}

.services-item:nth-child(2n) {
	margin-right: 0;
}

.services-item-content {
	padding: 26px 126px 35px 45px;
}

/* Стили для секции Advantages */
.advantages-list {
	flex-wrap: wrap;
}

.advantages-item {
	flex-direction: column;
	margin-right: 22px;
	margin-bottom: 22px;
	padding: 40px 42px 32px 45px;
	max-width: 276px;
}

.advantages-item:nth-child(4n) {
	margin-right: 0;
}

.advantages-item:nth-child(5),
.advantages-item:nth-child(6),
.advantages-item:nth-child(7),
.advantages-item:last-child {
	margin-bottom: 0;
}

.advantages-img {
	margin-bottom: 10px;
}

/* Стили для секции Placement */
.placement-list {
	flex-wrap: wrap;
}

.placement-item {
	margin-right: 24px;
	margin-bottom: 24px;
	max-width: 374px;
}

.placement-item:nth-child(3n) {
	margin-right: 0;
}

.placement-item:nth-child(7),
.placement-item:last-child {
	margin-bottom: 0;
}

.placement-item-card {
	justify-content: space-between;
	margin-bottom: 20px;
}

.placement-item-content {
	/* padding: 32px 45px 45px 45px; */
}

.placement-item-price {
	display: block;
	margin-bottom: 16px;
}

.placement-item-hotel {
	display: block;
	margin-bottom: 16px;
}
